.third-section {
	margin: var(--default-margin);
	padding: 40px 0;
	width: var(--container-width);
	font-size: var(--fs-s);
	font-family: var(--primary-font);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
